/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {


	/* HERO
	================================================== */
	.hero {
		min-height: 600px;
	}

	.hero img {
		height: 500px;
	}

	/* SITEMAIN
	================================================== */
	/* Modal */
	.modal-header {
		height: 400px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/* CUSTOM RESETS
	================================================== */
	h4 {
		font-size: 24px;
	}

	/* Buttons */ 
	.btn {
	    min-width: 120px;
	    line-height: 40px;
	    padding: 0 25px;
	    font-size: 14px;
	} 

	
	/* HERO
	================================================== */
	.hero h1 {
		font-size: 38px
	}

	.job-title {
		font-size: 20px;
	}

	.hero img {
		height: 420px;
	}

	/* SITEMAIN
	================================================== */
	.site-section {
		padding-top: 90px;
	}

	.section-skills,
	.section-portfolio,
	.section-form {
	    padding-bottom: 90px;
	}

	.site-section h2,
	.site-section h3 {
		font-size: 32px
	}

	/* Section: Skills */
	.section-skills .col-md-4 + .col-md-4,
	.skill + .skill {
		margin-top: 20px;
	}

	.skill h4 {
		font-size: 22px;
	}

	/* Section: Services */
	.section-services{
		padding-top: 200px;
	}

	.section-services .container {
		padding: 70px 90px;
	}
	
	.service h4 {
		font-size: 22px; 
	}

	/* Section: Portfolio */
	.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
	    margin-bottom: 30px;
	}

	.section-portfolio .col-md-4:nth-last-child(-n+2) .portfolio-item {
	    margin-bottom: 0;
	}

	/* Section: Counters */
	.section-counters {
		padding: 70px 0;
	}

	.site-section p.counter {
		font-size: 80px;
	}

	/* Modal */
	.modal-header {
		height: 350px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/* CUSTOM RESETS
	================================================== */
	h4 {
		font-size: 20px;
	}

	/* Buttons */ 
	.btn {
	    min-width: 100px;
	    line-height: 30px;
	    padding: 0 20px;
	} 

	/* Input fields */
	.form-control {
	 	margin-top: 25px;
	}

	/* Margin and Paddings Resets */
	.mt-x-0 {
	    margin-top: 0;
	}


	/* HERO
	================================================== */
	.hero .col-md-6:first-child {
		top: 30%;
	}

	.hero h1 {
		font-size: 32px
		margin-bottom: 10px;
	}

	.job-title {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.hero img {
		height: 360px
	}

	/* SITEMAIN
	================================================== */
	.site-main {
		margin-bottom: 140px;
	}

	/* site-section */
	.site-section {
	   padding-top: 60px;
	}

	.section-skills,
	.section-portfolio,
	.section-form {
	    padding-bottom: 60px;
	}

	.site-section h2,
	.site-section h3 {
	    font-size: 28px;
	}

	.img-lines {
	    margin: 10px 0 30px;
	}

	.site-section p {
	    margin-bottom: 25px;
	}

	/* Section: Skills */
	.skill h4 {
	    text-transform: uppercase;
	    margin-bottom: 10px;
	}

	/* Section: Services */
	.section-services {
		padding-top: 180px;
	}

	.service h4 {
		margin: 10px 0;
	}

	/* Section: Portfolio */
	.section-portfolio .col-xs-6:nth-child(odd) {
		padding-right: 7.5px;
	}

	.section-portfolio .col-xs-6:nth-child(even) {
		padding-left: 7.5px;
	}

	.portfolio-item,
	.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
		margin-bottom: 15px; 
	}

	.section-portfolio .col-md-4:nth-last-child(-n+2) .portfolio-item {
		margin-bottom: 0px;
	}

	.section-services .container {
		width: 90%;
		padding: 40px 20px;
	}

	/* Section: Counters */
	.section-counters .col-xs-12 + .col-xs-12 {
		margin-top: 25px;
	}

	/* Section: Form */
	.section-form .btn {
		margin-top: 25px;
	}

	/* Modal */
	.modal-header {
		height: 250px;
	}

	/* FOOTER
	================================================== */
	.site-footer .col-xs-12 {
		text-align: center;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
	.visible-xxs {
		display: block;
	}

	/* HERO
	================================================== */
	.hero .visible-xxs + .btn {
		margin-top: 10px;
	}

	/* SITEMAIN
	================================================== */
	.site-main {
		margin-bottom: 180px;
	}

	/* Section: Portfolio */
	.section-portfolio .col-xs-6 {
		width: 100%;
		padding: 0;
	}

	.section-portfolio .col-xs-6:nth-child(odd) {
		padding-right: 0px;
	}

	.section-portfolio .col-xs-6:nth-child(even) {
		padding-left: 0px;
	}

	.portfolio-item,
	.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
		margin-bottom: 0px; 
	}

	.section-portfolio .btn {
		margin-top: 25px;
	}

	/* FOOTER
	================================================== */
	.site-footer .row {
		display:flex;
		flex-direction: column-reverse;	
	}

	.site-footer .text-right{
		text-align: center;
	}

	.site-footer .col-xs-6,
	.site-footer .col-xs-3 {
		width: 100%;
	}

	.site-footer .col-xs-offset-3 {
		margin-left: 0;
	}
}